@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #4cae4f;
  --color-second-green: #5db661;
  --color-background-light: #f6f7f6;
  --color-background-dark: #151d15;

  --font-display: "Inter", sans-serif;

  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  font-size: inherit;
}
